################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/bin/Debug-x64
/bin-int/Debug-x64
/bin/Debug-windows-x86_64
/bin-int/Debug-windows-x86_64
